.container{
  display: flex;
  background-color: #2a8891;
  flex-direction: row;

}

.alignLeft{
  flex: 1;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: white;
  height:800px;
}
.alignRight{
  flex: 1;
  width:100%;
  height: 800px;
  margin: 5px;

}
.contentLeft{
  flex:auto;
  margin-top: 40%;
  margin-left: 2%;
  
}
.imagenLogo{
  width: 100%;
  height: 100%;
}

.contentRight{
  margin-top: 40%;
  margin-left: 30%;
  line-height: 1em;
  padding: 1em;
  margin-left: auto 20em;


}
.inputLogin{
  padding:10px;
  font-size: 21px;
  border-radius: 13px;
  border-style: groove;
  margin-right: 20% auto;
  width:50%;
}
.buttonLogin{
	background-color:#f5826f;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 38px;

}
