.container{
  display: flex;
  background-color: #2a8891;
  flex-direction: column;
  height: 1000px;
  width: 100%;
}
.menu{
  flex: 1;
  color:navajowhite;
  width: 100%;
  height: 100%;
  padding: 3px; 

}
.galeria{
  flex: 3;
  background-color: white;

}
.imagen{
  padding: 2%;
  width: 50mm;
  height: 50mm;
}

.flexDirection{
  display: flex;
  flex-direction: row;
  height:100%;
}
