.container{
  display: flex;
  background-color: #2a8891;
  flex-direction: row;
  height:800px;
}
.menu{
  flex: 1;
  color:white;
  width: 300px;
  margin:10px;
}
.galeria{
  flex: 3;
  background-color: white;
}
.imagen{
  padding: 2%;
}