.container{
  display: flex;
  background-color: #2a8891;
  flex-direction: column;
  height:1440px;
  width: 870;
}
.menu{
  flex: 1;
  color:white;
  width: 100%;
  height: auto;
  padding: 3px;  
}

.galeria{
  flex: 3;
  background-color: white;
  width: 100%;
  height: 100%;
}
.imagen{
  padding: 2%;
}

.banner{
  display: flex;
  height: 80px;
}
.flexDirection{
  display: flex;
  flex-direction: row;
  height:1440px;
}
.horiz-menu div:hover { /* Increase the specificity */
  color: red;
}